[submodule "HelloWorld"]
	path = HelloWorld
	url = https://github.com/KostaLekos/HelloWorld
[submodule "PolishNotationEvaluator"]
	path = PolishNotationEvaluator
	url = https://github.com/KostaLekos/PolishNotationEvaluator
[submodule "TranslationDictionary"]
	path = TranslationDictionary
	url = git@github.com:KostaLekos/TranslationDictionary.git
[submodule "HashMapTranslator"]
	path = HashMapTranslator
	url = git@github.com:KostaLekos/HashMapTranslator.git
